@import "tailwindcss";

@theme {
    --color-default : #F1F5F8;
    --color-title : #102A42;
    --color-main : #C59D5F;
    --color-desc: #617D98;
}

@layer components {
    .active {
        @apply bg-main
    }

    .active .btn_content {
        @apply text-white
    }

    .btn {
        @apply px-4 py-2 transition-colors  duration-250 ease-linear rounded-md hover:bg-main cursor-pointer
    }

    .btn_content {
        @apply text-xl text-main transition-colors duration-250 ease-linear  group-hover:text-default
    }
}

@utility container {
    width: 78.75rem;
}